<h1 mat-dialog-title>Add Focus Points 
  <span class="add-focus-points__change-mode" (click)="toggleMode()">
    <span *ngIf="isFullMode">(full mode)</span>
    <span *ngIf="isSimplifiedMode">(simplified mode)</span>
  </span>
</h1>
<div mat-dialog-content class="add-focus-points" *ngIf="isFullMode">
  <form class="add-focus-points__container">  
    <mat-form-field>
      <mat-label>F:</mat-label>
      <input matInput type="number" [formControl]="flowControl" [errorStateMatcher]="matcher">
    </mat-form-field>

    <mat-form-field>
      <mat-label>D:</mat-label>
      <input matInput type="number" [formControl]="difficultyControl" [errorStateMatcher]="matcher">
    </mat-form-field>

    <mat-form-field>
      <mat-label>E:</mat-label>
      <input matInput type="number" [formControl]="essentialControl" [errorStateMatcher]="matcher">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mins:</mat-label>
      <input matInput type="number" [formControl]="minsControl" [errorStateMatcher]="matcher">
    </mat-form-field>
  </form>

  <mat-chip-list [selectable]="false" chipFocusChanges="preventFocus($event)">
    <mat-chip *ngFor="let entry of focusEntries | keyvalue" color="success" [removable]="true" (removed)="focusEntryRemoved(entry.value.id)">
      {{ entry.value.result }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<div mat-dialog-content class="add-focus-points-simplified" *ngIf="isSimplifiedMode">
  <form>
    <mat-form-field>
      <mat-label>Focus points:</mat-label>
      <input
        matInput
        type="number"
        [formControl]="focusPointsControl"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button [disabled]="isAnyErrorSimplified" color="focus" (click)="done()">Done</button>
    </div>
  </form>
</div>

<div mat-dialog-actions *ngIf="isFullMode">
    <button mat-raised-button color="focus" (click)="addFocusEntry()" [disabled]="isAnyError">Add Points</button>
    <button *ngIf="focusEntries.size > 0" mat-raised-button color="success" (click)="done()"  >Done</button>
</div>

